* {
  font-family: 微軟正黑體;
  /* outline: 1px solid sienna; */
  margin: 0;
  padding: 0;
  // outline: 1px solid #ccc;
}
/* 變數設定 */
:root {
  --color1: #3b2c25;
  --color2: #61544a;
  --color3: #2d333c;
  --color4: #e6a33c;
  --color5: #30120b;
  --text-color: #646464;
  --text-price: #752c1c;
  --main-orange: #e6a33c;
  --main-white: #ffffff;
  --cate-font: "Trajan";
  --main-black: #000000;
  --main-blackRgba: #000000c0;
  --em: 16;
  --color7: rgb(255, 255, 255);
}
// 與Navber隔開
.pt-108 {
  padding-top: 108px;
}
/* - - - - - - - - - - - - */
/* 最上方有購物車icon的bar */
.search_bar_css {
  width: 0px;
  height: 32px;
  border: none;
  position: relative;
  left: 45px;
  top: 3px;
  background-color: var(--main-white);
  border-radius: 15px;
  transition: 0.8s;
}

/* - - - - - - - - - - - - */
/* 跟search_bar有關的CSS */
#nav_top {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 11;
  background: var(--main-white);
  width: 100%;
}
.search_bar_css:focus {
  outline: none;
}
.search_bar_css::placeholder {
  color: var(--main-white);
}
.magnifier_icon {
  margin: calc(var(--em) * 0.625px);
  width: 25px;
  height: 25px;
  position: relative;
}
.magnifier_icon:hover {
  cursor: pointer;
}
.nav_top_icon > img {
  width: 25px;
  margin: calc(var(--em) * 0.625px);
}
.nav_top_icon > a > img {
  width: 25px;
  margin: calc(var(--em) * 0.625px);
}
.nav_top_icon > p > strong {
  color: var(--main-orange);
}
.chart_money {
  line-height: 50px;
  margin: 0;
}

/* - - - - - - - - - - - - */
/* 充滿光點的背景banner */
.nav_bg_img {
  margin: 0;
  height: 220px;
  background-image: url("../images/Homeimages.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* - - - - - - - - - - - - */
/* Navbar */
.LogoImages {
  // background-image: url("../images/logo.png");
}
.navberLogo {
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 99;
  background: var(--main-blackRgba);
  a {
    margin: 0;
    padding: 0;
    box-sizing: cover;
    overflow: hidden;
    .Logo_png {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      width: 300px;
      height: 150px;
    }
    .Logo_svg {
      width: 100px;
      height: 54px;
      display: none;
    }
  }
}

//漢堡選單
.navbar-toggler {
  span {
    color: var(--main-white);
  }
}

//導覽列項目
#navbarSupportedContent {
  ul {
    display: flex;
    .nav-item_li {
      margin: 4px 16px;
      display: flex;
      justify-content: center;
      text-align: center;
      transition: 0.8s;
      &:hover {
        transition: 0.8s;
        background: var(--main-orange);
      }
      a {
        // width: 100%;
        display: block;
        text-align: center;
        color: var(--main-white);
        margin: auto 0;
        &:hover {
          text-decoration: none;
          color: var(--main-white);
        }
      }
    }
    .Sign_in_btn {
      transition: 0.5s;
      border: 1px solid var(--main-white);
      &:hover {
        transition: 0.5s;
        background: var(--main-orange);
        border: 1px solid transparent;
        a {
          text-decoration: none;
          color: var(--main-white);
        }
      }
      a {
        color: var(--main-orange);
      }
    }
  }
}

//頁尾
.Home_footer {
  width: 100%;
  height: 80px;
  background: var(--main-black);
  color: var(--text-color);
  display: flex;
  justify-content: space-around;
  > p {
    font-size: 36px;
    letter-spacing: 36px;
    line-height: 80px;
    text-align: center;
    margin: 0;
    ~ img {
      width: 80px;
      height: 80px;
    }
  }
}

@media only screen and (max-width: 1800px) and (min-width: 1470px) {
  .Home_footer {
    height: 70px;
    > p {
      line-height: 70px;
      letter-spacing: 20px;
      ~ img {
        width: 70px;
        height: 70px;
      }
    }
  }
}
@media (max-width: 1440px) {
  .navberLogo a .Logo_png {
    display: none;
  }
  .navberLogo a .Logo_svg {
    display: block;
  }
}
@media only screen and (max-width: 1470px) and (min-width: 1240px) {
  .Home_footer {
    height: 60px;
    > p {
      font-size: 28px;
      line-height: 55px;
      letter-spacing: 15px;
      ~ img {
        width: 60px;
        height: 60px;
      }
    }
  }
}
@media only screen and (max-width: 1240px) and (min-width: 845px) {
  .Home_footer {
    height: 45px;
    > p {
      font-size: 28px;
      line-height: 45px;
      letter-spacing: 10px;
      ~ img {
        width: 45px;
        height: 45px;
      }
    }
  }
}
// @media only screen and (max-width: 991px) {
//   #navbarSupportedContent ul .nav-item_li a:hover{
//     width: 100%;
//   }
// }
@media only screen and (max-width: 845px) and (min-width: 675px) {
  .Home_footer {
    height: 45px;
    > p {
      font-size: 20px;
      line-height: 45px;
      letter-spacing: 10px;
      ~ img {
        width: 45px;
        height: 45px;
      }
    }
  }
}
@media only screen and (max-width: 675px) and (min-width: 500px) {
  .Home_footer {
    height: 45px;
    > p {
      font-size: 15px;
      line-height: 45px;
      letter-spacing: 5px;
      ~ img {
        width: 45px;
        height: 45px;
      }
    }
  }
}
